* {
    font-family: "Comfortaa";
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(201, 133, 240);
    width: min-content;
    padding: 10px;
    border: 4px solid #8d5dba;
    border-radius: 10px;
}

#display {
    border: 4px solid #8d5dba;
    font-size: 100px;
    width: 485px;
    text-align: right;
    background-color: #ebdff5;
    border-radius: 10px;
    display: flex;

}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

button {
    width: 115px;
    height: 80px;
    border-radius: 10px;
    font-size: 30px;
}

.purple {
    background-color: #8d5dba;
    color: white;
}
.equals {
    width: 240px;
}

#backspace {
    border: none;
    background-color: #8d5dba;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.text {
    flex-grow: 1;
    text-align: right;
}
